<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.demo.dahua.com.testbroadcastreceiver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyBroadCastReceiver">
            <intent-filter android:priority="500">

                <!-- 一个新应用包已经安装在设备上，数据包括包名（监听所在的app，新安装时，不能接收到这个广播） -->
                <action android:name="MMMM" />


            </intent-filter>
        </receiver>

        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="XXXX" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <receiver android:name=".MyBroadCastReceiver600">
            <intent-filter android:priority="600">

                <!-- 一个新应用包已经安装在设备上，数据包括包名（监听所在的app，新安装时，不能接收到这个广播） -->
                <action android:name="MMMM" />


            </intent-filter>

        </receiver>
    </application>

</manifest>